nav {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  cursor: pointer;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav .navbar .closedMenu {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}
nav .navbar .inActiveNav {
  display: none;
}
nav .navbar .navActive {
  display: none;
}
nav .closedMenu li {
  position: relative;
  z-index: 99999;
}
nav .closedMenu li:hover {
  color: #d4a345;
}
nav .navActive li:hover {
  color: #d4a345;
}
nav .closedMenu .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
nav .closedMenu .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .closedMenu .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .navActive .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
nav .navActive .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .navActive .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .closedMenu button {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
nav .closedMenu .bidBtn {
  background: linear-gradient(to left, transparent 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96);
}
nav .closedMenu .bidBtn:hover {
  background-position: bottom left;
  color: #000;
  outline: 0;
}
nav .inActiveNav button {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
nav .inActiveNav .bidBtn {
  background: linear-gradient(to left, transparent 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
}
nav .inActiveNav .bidBtn:hover {
  background-position: bottom left;
  color: #000;
  outline: 0;
}
nav .navActive button {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
nav .navActive .bidBtn {
  background: linear-gradient(to left, transparent 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
}
nav .navActive .bidBtn:hover {
  background-position: bottom left;
  color: #000;
  outline: 0;
}
nav .leftLightening {
  position: absolute;
  right: -30px;
  top: -40px;
  z-index: 2;
}
nav .MenuDiv {
  display: none;
}
nav .burger {
  font-size: 40px;
}
nav .times {
  font-size: 40px;
}
nav .sound {
  font-size: 50px;
  width: 60px;
  position: absolute;
  bottom: -80px;
  left: 20px;
}
nav .sound .playing {
  position: absolute;
  top: -25px;
  left: 20px;
}
@keyframes gg-bar {
  10% {
    box-shadow: inset 0 -4px 0;
  }
  30% {
    box-shadow: inset 0 -10px 0;
  }
  60% {
    box-shadow: inset 0 -6px 0;
  }
  80% {
    box-shadow: inset 0 -8px 0;
  }
  to {
    box-shadow: inset 0 -2px 0;
  }
}
nav .sound .playing .gg-loadbar-sound,
nav .sound .playing .gg-loadbar-sound::after,
nav .sound .playing .gg-loadbar-sound::before {
  display: block;
  box-sizing: border-box;
  width: 4px;
  height: 12px;
  box-shadow: inset 0 -12px 0;
  animation: gg-bar 1.3s ease infinite alternate;
}
nav .sound .playing .gg-loadbar-sound {
  position: relative;
  transform: scale(var(--ggs, 2));
}
nav .sound .playing .gg-loadbar-sound::after,
nav .sound .playing .gg-loadbar-sound::before {
  content: "";
  position: absolute;
  bottom: 0;
}
nav .sound .playing .gg-loadbar-sound::before {
  left: -4px;
  animation-delay: -2.4s;
}
nav .sound .playing .gg-loadbar-sound::after {
  right: -4px;
  animation-delay: -3.7s;
}

@media (max-width: 950px) {
  .navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .MenuDiv {
    display: flex !important;
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 999999999;
  }
  .burger {
    font-size: 35px !important;
    display: flex;
  }
  .namesLogo {
    position: relative;
    z-index: 9999999999;
  }
  .navbar .closedMenu {
    display: none !important;
  }
  .navbar .activeMenu {
    display: none;
  }
  .navbar .inActiveNav {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 0;
    right: -100vw;
    transition: 0.4s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
    will-change: transform;
    height: 60vh;
    width: 100% !important;
    background-color: #050607;
  }
  .navbar .navActive {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
    z-index: 999999;
    height: 60vh;
    width: 100%;
    background-color: #050607;
  }
  .navbar .inActiveNav #firstChild {
    margin-top: 30px;
  }
  .navbar .navActive #firstChild {
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .navActive {
    height: 100vh !important;
  }
  .navbar .inActiveNav {
    height: 100vh !important;
  }
}/*# sourceMappingURL=Navbar.css.map */