nav {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  cursor: pointer;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 40px;
    // border: 2px solid green;
  }

  .navbar .closedMenu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
  }
   .navbar .inActiveNav{
    display: none;
  }
  .navbar .navActive{
    display: none;
  }
  .closedMenu li{
    position: relative;
    z-index: 99999;
  }
  .closedMenu li:hover {
    color: #d4a345;
  }
  .navActive li:hover {
    color: #d4a345;
  }

 .closedMenu .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }

 .closedMenu .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

 .closedMenu .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 .navActive .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }

 .navActive .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

 .navActive .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .closedMenu button {
    background-color: transparent;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
  }
 .closedMenu .bidBtn {
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96);
  }

 .closedMenu .bidBtn:hover {
    background-position: bottom left;
    color: #000;
    outline: 0;
  }
  .inActiveNav button {
    background-color: transparent;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
  }
 .inActiveNav .bidBtn {
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    // transition: all 0.7s ease-out;
    transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
  }

 .inActiveNav .bidBtn:hover {
    background-position: bottom left;
    color: #000;
    outline: 0;
  }
  .navActive button {
    background-color: transparent;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
  }
 .navActive .bidBtn {
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    // transition: all 0.7s ease-out;
    transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
  }

 .navActive .bidBtn:hover {
    background-position: bottom left;
    color: #000;
    outline: 0;
  }
  .leftLightening {
    position: absolute;
    right: -30px;
    top: -40px;
    z-index: 2;
  }
  .MenuDiv {
    display: none;
  }
  .burger {
    font-size: 40px;
  }
  .times {
    font-size: 40px;
  }
  .sound {
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 170px;
    z-index: 99;
  }
 
}

@media (max-width: 950px) {
  .MenuDiv {
    display: flex !important;
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 999999999;
  }
  .burger{
    font-size: 35px !important;
  }
  .namesLogo {
    position: relative;
    z-index: 9999999999;
  }
  .navbar .closedMenu{
    display: none !important;
  }
  .navbar .activeMenu{
    display: none;
  }

  .navbar .inActiveNav {
     display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
    will-change: transform;
    height: 60vh;
    width: 100% !important;
    background-color: #050607;
  }
  .navbar .navActive {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.6s cubic-bezier(0.08, 0.65, 0.53, 0.96) !important;
    transform: translateX(0%);
    z-index: 999999;
    height: 60vh;
    width: 100%;
    background-color: #050607;
  }
  .navbar .inActiveNav #firstChild{
    margin-top: 30px;
  }
  .navbar .navActive #firstChild{
    margin-top: 30px;
  }
  .sound {
    position: absolute;
    top: 150px !important;
  }
}

@media (max-width: 320px) {
  .navActive{
    height: 100vh !important;
  }
  .navbar .inActiveNav{
    height: 100vh !important;
  }
}
