.ProjectsContainer {
  overflow-x: hidden;
  position: relative;
  z-index: 9;
}
.ProjectsContainer .ProjectsContainer::-webkit-scrollbar {
  display: none;
}
.ProjectsContainer .ProjectsContainer h1 {
  text-align: center;
  font-size: 6vw;
  margin: 40px auto;
  color: #141c2d;
}
.ProjectsContainer .wrapper {
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}
.ProjectsContainer .test:nth-child(even) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.ProjectsContainer .projectImg {
  position: relative;
}
.ProjectsContainer #evenImg {
  position: relative;
  display: flex;
  justify-content: end;
}
.ProjectsContainer .projectImg img {
  width: 100%;
  max-width: 1200px;
  height: auto;
}
.ProjectsContainer #evenImg img {
  width: 100%;
  max-width: 1200px;
  height: auto;
}
.ProjectsContainer #projectHeader {
  color: #141c2d;
  text-align: center;
  font-size: 8vw;
  margin: 50px auto;
}
.ProjectsContainer #parallax {
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 60%;
}
.ProjectsContainer #parallax h1 {
  font-size: 40px;
}
.ProjectsContainer .parallaxText {
  margin: 0;
  position: absolute;
  bottom: 5%;
  right: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ProjectsContainer .parallaxText h1 {
  font-size: 40px;
}
.ProjectsContainer #parallax p {
  font-size: 25px;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  margin: 10px auto;
}
.ProjectsContainer #evenImg p {
  font-size: 25px;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  margin: 10px auto;
}
.ProjectsContainer .githubLink {
  font-size: 40px;
}
.ProjectsContainer .netlifyLink {
  font-size: 40px;
}
.ProjectsContainer a {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.ProjectsContainer a:hover {
  text-decoration: underline;
}
.ProjectsContainer .flexLink {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1700px) {
  .projectImg {
    position: relative;
  }
  #parallax {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .parallaxText {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .flexLink {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  #parallax {
    position: absolute !important;
    bottom: -70px !important;
    width: 100% !important;
  }
  .parallaxText {
    position: absolute !important;
    bottom: -70px !important;
  }
}
@media (max-width: 450px) {
  .parallaxText p {
    font-size: 23px !important;
  }
  #projectHeader {
    font-size: 50px !important;
  }
}/*# sourceMappingURL=Projects.css.map */