.ProjectsContainer .word {
  position: relative;
  margin-right: 10px;
}
.ProjectsContainer .shadow {
  position: absolute;
  opacity: 0.5;
}
.ProjectsContainer #projectHeader {
  text-align: center;
  font-size: 7vw;
  margin: 40px auto;
  color: #141c2d;
}
.ProjectsContainer a:hover {
  text-decoration: underline;
}
.ProjectsContainer .projectWrapper {
  margin-top: 70px;
}
.ProjectsContainer .subProjectLeft {
  position: relative;
  width: 80%;
  height: 900px;
  margin-left: 15px;
  z-index: 99;
  border-radius: 10px;
}
.ProjectsContainer .subProjectRightCon {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 70px;
}
.ProjectsContainer .subProjectRight {
  position: relative;
  width: 80%;
  height: 850px;
  margin-left: 15px;
  margin-top: 30px;
  z-index: 99;
  border-radius: 10px;
}
.ProjectsContainer .parallaxText {
  opacity: 0;
  bottom: -100px;
  transition: 0.5s ease all;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
.ProjectsContainer .subProjectLeft:hover {
  border: none;
}
.ProjectsContainer .subProjectLeft:hover .parallaxText {
  opacity: 1;
  bottom: 100px;
  transition: 0.5s all ease;
}
.ProjectsContainer .subProjectLeft:hover .overLayLeft {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.ProjectsContainer .parallaxText h1 {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  margin: 10px auto;
}
.ProjectsContainer .parallaxText p {
  padding: 20px 0;
  border-radius: 10px;
  width: 100%;
  line-height: 35px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: end;
}
.ProjectsContainer .parallaxText span {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
  font-size: 20px;
  margin: 10px auto;
  font-size: 20px;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  line-height: 35px;
}
.ProjectsContainer .flexLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.ProjectsContainer .flexLinks .disable {
  pointer-events: none;
}
.ProjectsContainer #parallax {
  opacity: 0;
  bottom: 200px;
  transition: 0.5s ease all;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
.ProjectsContainer .subProjectRightCon:hover #parallax {
  opacity: 1;
  bottom: -100px;
  transition: 0.5s all ease;
}
.ProjectsContainer .subProjectRightCon:hover .overLayRight {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.ProjectsContainer #parallax h1 {
  font-size: 40px;
  font-weight: 800;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  margin: 10px auto;
}
.ProjectsContainer #parallax p {
  padding: 20px 0;
  width: 100%;
  line-height: 35px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.ProjectsContainer #parallax span {
  margin: 10px auto;
  font-size: 20px;
  color: #141c2d;
  color: transparent;
  color: #ffffff;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  margin: 10px auto;
  line-height: 30px;
}
.ProjectsContainer .flexLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin: 10px auto;
}
.ProjectsContainer .flexLink .disable {
  pointer-events: none;
}
@media (max-width: 450px) {
  .ProjectsContainer #projectHeader {
    font-size: 45px;
  }
}
@media (max-width: 520px) {
  .ProjectsContainer .parallaxText {
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
  }
}
@media (max-width: 890px) {
  .ProjectsContainer .subProjectLeft {
    width: 90%;
    height: 700px;
  }
  .ProjectsContainer .parallaxText {
    width: 100%;
  }
  .ProjectsContainer .parallaxText h1 {
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer .parallaxText p {
    background-color: transparent;
    text-align: center;
  }
  .ProjectsContainer .flexLinks {
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer .parallaxText span {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer .subProjectRightCon {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer .subProjectRight {
    width: 100%;
    height: 500px;
  }
  .ProjectsContainer #parallax {
    width: 100%;
  }
  .ProjectsContainer #parallax h1 {
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer #parallax p {
    background-color: transparent;
    text-align: center;
  }
  .ProjectsContainer #parallax span {
    display: flex;
    justify-content: center;
  }
  .ProjectsContainer .flexLink {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=Projects.css.map */