  .projectContain{
    // border: 2px yellow solid;
    width: 100%;
 
.imgContainer{
  position: relative;  
}

  .imgContainer:hover .overLayLeft{
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 1 !important;
    background-color: 	rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
  }
  
  .imgContainer .Text{
    display: none;
    
    .flexText{
      display: flex;
      align-items: center;
      gap: 25px;
      transition: all 0.3s ease;
          // border: 3px yellowgreen solid !important;
          position: absolute !important;
          z-index: 99 !important;
          cursor: pointer;
          padding: 5px;
    }

    .flexText p:hover{
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

   .imgContainer:hover .Text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    flex-wrap: wrap;
    position: absolute !important;
    z-index:999 !important;
    left: 0;
    top: 0;
    z-index: 9 !important;
    // right: 50%;
  //  transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    // border: 3px red solid !important;
  }
 
  }
