.projectModalCon{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 9999999999;
    border: 2px red solid;
}

@media (max-width: 480px) {
    .projectModalCon{
        width: 90%;
    }
}